.timerPanel {
    position: absolute;
    // z-index: 100;
    right: 20%;
    top: 10px;
    background-color: white;
    border: 1px solid lightgray;
    padding: 3px;

    .iconButton {
        color: black;
    }

    .timePanelDivider {
        height: 25px;
        margin: 0 5px;
    }
    
}

.icon {
    float: right;
    margin-top: 4px;
}


